#General files
descargas.txt
proyecto.txt
jks.txt
openssl.txt
pki.rar
pki_v2.rar
pki_v3.rar
pki_v4.rar
Acuerdo de Suscriptor para Certificados Digitales.pdf
Archivos-WSDL-tipo-WCF.zip
Gmail - Consulta.pdf
Guia-tecnica-configuracion-servicio-firmador-canal-publico.pdf
Guia-validar-CRLs-certificados-jerarquia-ambiente-produccion-firmador.pdf
Jerarquia-Persona-Juridica-Produccion-entregar-entidades-externas.zip
KB-Entidades-Externas-Uso-del-Firmador-BCCR (1).pdf
KB-Entidades-Externas-Uso-del-Firmador-BCCR.pdf
screencapture-semanariouniversidad-opinion-aclaracion-de-universidad-tras-la-publicacion-de-dos-articulos-de-autoria-dudosa-2024-08-14-00_36_49.pdf
validaciones.txt


# Archivos específicos de tu editor
.vscode/